<main>
    <div class="flex flex-col justify-start">
        <section id="demos" class="bg-gray-50 shadow-lg">
            <div class="flex flex-col p-2">
                <!-- Navigation Links -->
                <div class="flex flex-col md:flex-row md:justify-evenly items-center" data-aos="fade-down" data-aos-duration="1000">
                    <div class="flex flex-col md:flex-row md:gap-14 items-center">
                        <span class="font-medium text-2xl mb-4 md:mb-0">Brainwave.io</span>
                        <ul class="flex flex-col md:flex-row md:gap-12 mb-4 md:mb-0">
                            <li class="relative">
                                <a href="#demos" class="menu-item">Demos</a>
                            </li>
                            <li class="relative">
                                <a href="#pages" class="menu-item">Pages</a>
                            </li>
                            <li class="relative">
                                <a href="#support" class="menu-item">Support</a>
                            </li>
                            <li class="relative">
                                <a routerLink="/contact" class="menu-item">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <button type="button" class="p-2 rounded bg-blue-700 text-white hover:bg-blue-800 transition duration-300 ease-in-out" data-aos="zoom-in">
                            Get Started a Project
                        </button>
                    </div>
                </div>
        
                <!-- Main Content with Image and Text -->
                <div class="flex flex-col md:flex-row md:justify-evenly p-6" data-aos="fade-up" data-aos-duration="1200">
                    <!-- Text Content -->
                    <div class="flex flex-col gap-6 md:w-1/2" data-aos="fade-right" data-aos-duration="1200">
                        <div>
                            <span class="text-red-600 text-[10px]">LET'S SHIFT YOUR BUSINESS</span>
                        </div>
                        <div>
                            <span class="text-4xl md:text-5xl">
                                Shift Your Business <br class="hidden md:block"> fast with Shade Pro.
                            </span>
                        </div>
                        <div>
                            <p class="text-sm md:text-base">
                                With lots of unique blocks, you can easily build a page <br> without coding. Build your next
                                consulting website within <br> a few minutes.
                            </p>
                        </div>
                        <div>
                            <button type="button" class="p-2 rounded bg-blue-700 text-white hover:bg-blue-800 transition duration-300 ease-in-out" data-aos="fade-up" data-aos-delay="200">
                                Get Started a Project
                            </button>
                        </div>
                    </div>
        
                    <!-- Image Content -->
                    <div class="flex flex-col items-center md:w-1/2" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="mb-4">
                            <img src="../../../assets/dot.jpg" class="w-20 h-20 rounded-full" alt="dot image" data-aos="flip-right" data-aos-duration="1000">
                        </div>
                        <div class="relative">
                            <!-- Main Image Centered -->
                            <div class="relative mb-4">
                                <img src="../../../assets/demos.jpg" class="w-60 h-60 md:w-80 md:h-80 rounded-full" alt="main demo image" data-aos="zoom-in" data-aos-delay="300">
                            </div>
        
                            <!-- Overlay Images -->
                            <div class="absolute inset-0 flex justify-between items-center">
                                <!-- Left Overlay Image -->
                                <div class="absolute left-0 ml-2 md:ml-4 z-20">
                                    <img src="../../../assets/left-curve.jpg" class="w-10 h-10 md:w-16 md:h-16" alt="left overlay image" data-aos="fade-right" data-aos-delay="200">
                                </div>
        
                                <!-- Right Overlay Image -->
                                <div class="absolute right-0 mr-2 md:mr-4 z-20">
                                    <img src="../../../assets/right-curve.jpg" class="w-10 h-10 md:w-16 md:h-16" alt="right overlay image" data-aos="fade-left" data-aos-delay="200">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </section>
        
        <section id="pages">
            <div class="flex flex-col gap-6 items-center p-6" data-aos="fade-up">
                <!-- Title -->
                <div>
                    <span class="text-red-600 text-xs md:text-sm">OUR SERVICES</span>
                </div>
        
                <!-- Subtitle -->
                <div class="text-center" data-aos="fade-down">
                    <span class="text-xl md:text-2xl block">We provide great services for our</span>
                    <span class="text-xl md:text-2xl block">customers based on needs.</span>
                </div>
        
                <!-- Service Cards -->
                <div class="flex flex-col md:flex-row md:justify-evenly gap-6 md:gap-12">
                    <!-- Service Card 1 -->
                    <div class="flex flex-col gap-4 p-6 bg-blue-700 rounded-xl items-center text-center" data-aos="flip-left">
                        <div>
                            <img src="../../../assets/graphic.jpg" class="w-16 h-16 md:w-20 md:h-20" alt="graphic">
                        </div>
                        <div>
                            <span class="text-lg md:text-xl text-white">Graphic Design</span>
                        </div>
                        <div>
                            <p class="text-white text-xs md:text-sm">With lots of unique blocks, you can <br> easily build a page
                                without coding. <br> Build your next landing page.</p>
                        </div>
                        <div>
                            <span class="text-white flex items-center">Learn More <i class="fa-solid fa-arrow-right-long text-white ml-1"></i></span>
                        </div>
                    </div>
        
                    <!-- Service Card 2 -->
                    <div class="flex flex-col gap-4 p-6 bg-red-700 rounded-xl items-center text-center" data-aos="zoom-in">
                        <div>
                            <img src="../../../assets/web.jpg" class="w-16 h-16 md:w-20 md:h-20" alt="web development">
                        </div>
                        <div>
                            <span class="text-lg md:text-xl text-white">Web Development</span>
                        </div>
                        <div>
                            <p class="text-white text-xs md:text-sm">With lots of unique blocks, you can <br> easily build a page
                                without coding. <br> Build your next landing page.</p>
                        </div>
                        <div>
                            <span class="text-white flex items-center">Learn More <i class="fa-solid fa-arrow-right-long text-white ml-1"></i></span>
                        </div>
                    </div>
        
                    <!-- Service Card 3 -->
                    <div class="flex flex-col gap-4 p-6 bg-green-700 rounded-xl items-center text-center" data-aos="fade-right">
                        <div>
                            <img src="../../../assets/content.jpg" class="w-16 h-16 md:w-20 md:h-20" alt="content writing">
                        </div>
                        <div>
                            <span class="text-lg md:text-xl text-white">Content Writing</span>
                        </div>
                        <div>
                            <p class="text-white text-xs md:text-sm">With lots of unique blocks, you can <br> easily build a
                                page without coding. <br> Build your next landing page.</p>
                        </div>
                        <div>
                            <span class="text-white flex items-center">Learn More <i class="fa-solid fa-arrow-right-long text-white ml-1"></i></span>
                        </div>
                    </div>
                </div>
        
                <!-- Testimonial Section -->
                <div class="flex flex-col md:flex-row items-center gap-6 md:gap-12 mt-8" data-aos="fade-left">
                    <div class="flex justify-center items-center">
                        <img src="../../../assets/IMG_20220429_190246.jpg" class="w-24 h-24 md:w-28 md:h-28 rounded-full" alt="logo">
                    </div>
                    <div class="flex flex-col gap-4 text-center md:text-left">
                        <div>
                            <span class="text-sm md:text-base">rating</span>
                        </div>
                        <div>
                            <span class="font-bold text-xs md:text-sm">"OMG! cannot believe that I have got a brand new landing
                                page,<br>after getting Albino. It was super easy to edit and publish."</span>
                        </div>
                        <div>
                            <span class="font-bold text-xs md:text-sm">Franklin Hicks / <span class="font-light">Web Developer</span></span>
                        </div>
                    </div>
                </div>
        
                <!-- Horizontal Line -->
                <hr class="w-4/5 md:w-3/4 mt-6" data-aos="zoom-out">
            </div>
        </section>
        
        <section id="story">
            <div class="flex flex-col justify-center items-center p-6">
                <!-- Section Title and Description -->
                <div class="flex flex-col gap-5 text-center" data-aos="fade-up">
                    <div>
                        <span class="text-red-600 text-xs md:text-sm" data-aos="fade-right">OUR STORY</span>
                    </div>
                    <div data-aos="fade-left">
                        <span class="text-xl md:text-2xl">
                            We know how everything works<br> and why your business is failing<br> over and over again.
                        </span>
                    </div>
                </div>
        
                <!-- Main Content with Images and Text -->
                <div class="flex flex-col md:flex-row gap-6 md:gap-12 items-center mt-6">
                    <!-- Main Image -->
                    <div class="flex justify-center items-center" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                        <img src="../../../assets/story.jpg" class="w-full max-w-lg md:max-w-xl h-auto rounded-sm" alt="Main Story Image">
                    </div>
        
                    <!-- Text and Small Images -->
                    <div class="flex flex-col gap-6 md:gap-8">
                        <div class="flex flex-col md:flex-row gap-6">
                            <!-- First Small Image -->
                            <div class="flex justify-center items-center" data-aos="zoom-in">
                                <img src="../../../assets/story-1.jpg" class="w-36 h-36 md:w-48 md:h-48 rounded-sm" alt="Story Image 1">
                            </div>
        
                            <!-- Second Small Image -->
                            <div class="flex justify-center items-center" data-aos="flip-right">
                                <img src="../../../assets/story-2.jpg" class="w-28 h-28 md:w-40 md:h-40" alt="Story Image 2">
                            </div>
                        </div>
        
                        <!-- Description Text -->
                        <div data-aos="fade-up" data-aos-delay="200" class="text-center md:text-left">
                            <span class="text-sm md:text-base">
                                We share common trends and strategies for improving your<br>
                                rental income and making sure you stay in high demand. With <br>
                                lots of unique blocks, you can easily build a page without <br>
                                coding. Build your next landing page.
                            </span>
                        </div>
                    </div>
                </div>
        
                <!-- Statistics Section -->
                <div class="flex flex-col md:flex-row gap-8 md:gap-12 justify-center items-center mt-6">
                    <div class="flex flex-col gap-2 items-center text-center" data-aos="zoom-in">
                        <span class="font-bold text-xl md:text-2xl">1M+</span>
                        <span class="text-xs md:text-sm">Customers visit Omega every month</span>
                        <span class="text-xs md:text-sm">to get their service done.</span>
                    </div>
                    <div class="flex flex-col gap-2 items-center text-center" data-aos="fade-left">
                        <span class="font-bold text-xl md:text-2xl">92%</span>
                        <span class="text-xs md:text-sm">Satisfaction rate comes from our</span>
                        <span class="text-xs md:text-sm">awesome customers.</span>
                    </div>
                    <div class="flex flex-col gap-2 items-center text-center" data-aos="fade-right">
                        <span class="font-bold text-xl md:text-2xl">4.9/5.0</span>
                        <span class="text-xs md:text-sm">Average customer rating we have</span>
                        <span class="text-xs md:text-sm">got all over the internet.</span>
                    </div>
                </div>
            </div>
        </section>
        
        
    
        <section id="choose" class="bg-gray-50">
            <div class="flex flex-col justify-center items-center p-6" data-aos="fade-up" data-aos-duration="1200">
                <!-- Heading Section -->
                <div class="text-center mb-8" data-aos="fade-down" data-aos-duration="1000">
                    <span class="text-red-600 text-xs md:text-sm">WHY CHOOSE US</span>
                </div>
                <div class="flex flex-col text-center mb-12" data-aos="zoom-in" data-aos-duration="1200">
                    <span class="text-xl md:text-2xl">People choose us because we</span>
                    <span class="text-xl md:text-2xl">serve the best for everyone.</span>
                </div>
        
                <!-- Features Section -->
                <div class="flex flex-col md:flex-row gap-12 md:gap-24 mb-12" data-aos="fade-up" data-aos-duration="1400">
                    <!-- Left Column Features -->
                    <div class="flex flex-col gap-6 md:gap-8 w-full md:w-1/2">
                        <div class="flex gap-4 items-start" data-aos="fade-right" data-aos-duration="1000">
                            <div class="rounded-lg bg-blue-200 p-3 w-16 h-16 flex justify-center items-center">
                                <i class="fa-solid fa-user-tie text-blue-600 text-xl md:text-3xl"></i>
                            </div>
                            <div class="flex flex-col gap-2">
                                <span class="text-sm md:text-base font-bold">Dedicated project manager</span>
                                <p class="text-xs md:text-sm">
                                    With lots of unique blocks you can <br> easily build a page without coding.<br>
                                    Build your next landing page.
                                </p>
                            </div>
                        </div>
        
                        <div class="flex gap-4 items-start" data-aos="fade-right" data-aos-duration="1200">
                            <div class="rounded-lg bg-green-200 p-3 w-16 h-16 flex justify-center items-center">
                                <i class="fa-solid fa-message text-green-600 text-xl md:text-3xl"></i>
                            </div>
                            <div class="flex flex-col gap-2">
                                <span class="text-sm md:text-base font-bold">Easy feedback sharing</span>
                                <p class="text-xs md:text-sm">
                                    We ensure to deliver the best quality <br> for all our clients, focusing on <br>
                                    their success.
                                </p>
                            </div>
                        </div>
                    </div>
        
                    <!-- Right Column Features -->
                    <div class="flex flex-col gap-6 md:gap-8 w-full md:w-1/2">
                        <div class="flex gap-4 items-start" data-aos="fade-left" data-aos-duration="1000">
                            <div class="rounded-lg bg-red-200 p-3 w-16 h-16 flex justify-center items-center">
                                <i class="fa-solid fa-layer-group text-red-600 text-xl md:text-3xl"></i>
                            </div>
                            <div class="flex flex-col gap-2">
                                <span class="text-sm md:text-base font-bold">Client-centric approach</span>
                                <p class="text-xs md:text-sm">
                                    Our approach ensures that we <br> understand and deliver <br> the best for our clients.
                                </p>
                            </div>
                        </div>
        
                        <div class="flex gap-4 items-start" data-aos="fade-left" data-aos-duration="1200">
                            <div class="rounded-lg bg-gray-200 p-3 w-16 h-16 flex justify-center items-center">
                                <i class="fa-solid fa-clock text-gray-600 text-xl md:text-3xl"></i>
                            </div>
                            <div class="flex flex-col gap-2">
                                <span class="text-sm md:text-base font-bold">Innovative solutions</span>
                                <p class="text-xs md:text-sm">
                                    We stay ahead of the curve by <br> providing cutting-edge solutions <br> to grow your
                                    business.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- CTA Section -->
                <div class="flex flex-col md:flex-row justify-between items-center w-full" data-aos="fade-up" data-aos-duration="1500">
                    <div class="flex flex-col gap-3 text-center md:text-left md:w-2/3 mb-6 md:mb-0">
                        <span class="text-xl md:text-2xl">Ready to launch your next project?</span>
                        <p class="text-xs md:text-sm">
                            With lots of unique blocks you can easily build a page without <br>coding. Build your next
                            landing page.
                        </p>
                    </div>
                    <div class="flex justify-center items-center">
                        <button type="button" class="p-2 rounded bg-blue-700 text-white hover:bg-blue-800 transition duration-300 ease-in-out" data-aos="zoom-in" data-aos-delay="200">
                            Get Started a Project
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
    
        <section id="casestudy" class="bg-gray-50 py-6">
            <div class="container mx-auto px-6">
                <div class="flex flex-col justify-center items-center gap-8">
                    <!-- Heading Section -->
                    <div data-aos="fade-up">
                        <span class="text-red-600 text-xs md:text-sm">CASE STUDIES</span>
                    </div>
                    <div class="flex flex-col text-center" data-aos="fade-up" data-aos-delay="100">
                        <span class="text-xl md:text-2xl">Our works describe why we are</span>
                        <span class="text-xl md:text-2xl">the best in the business.</span>
                    </div>
        
                    <!-- Case Studies Section -->
                    <div class="flex flex-col md:flex-row gap-6 md:gap-9">
                        <!-- First Column -->
                        <div class="flex flex-col gap-6 w-full md:w-1/2">
                            <div class="flex flex-col gap-4" data-aos="zoom-in" data-aos-delay="200">
                                <div>
                                    <img src="../../../assets/graphic-services.jpg" class="w-full h-[250px] object-cover rounded-lg shadow-md" alt="graphic design">
                                </div>
                                <div class="flex flex-col gap-1">
                                    <span class="text-gray-600 text-xs md:text-sm">Graphic Design</span>
                                    <span class="font-bold text-sm md:text-base">Aura Branding Design</span>
                                </div>
                            </div>
                            <div class="flex flex-col gap-4" data-aos="zoom-in" data-aos-delay="300">
                                <div>
                                    <img src="../../../assets/gradient-web.jpg" class="w-full h-[150px] object-cover rounded-lg shadow-md" alt="web development">
                                </div>
                                <div class="flex flex-col gap-1">
                                    <span class="text-gray-600 text-xs md:text-sm">Website Development</span>
                                    <span class="font-bold text-sm md:text-base">Gradient Website Development</span>
                                </div>
                            </div>
                        </div>
        
                        <!-- Second Column -->
                        <div class="flex flex-col gap-6 w-full md:w-1/2">
                            <div class="flex flex-col gap-4" data-aos="zoom-in" data-aos-delay="400">
                                <div>
                                    <img src="../../../assets/package.jpg" class="w-full h-[150px] object-cover rounded-lg shadow-md" alt="snack packaging">
                                </div>
                                <div class="flex flex-col gap-1">
                                    <span class="text-gray-600 text-xs md:text-sm">Graphic Design</span>
                                    <span class="font-bold text-sm md:text-base">AB.S Snack Packaging</span>
                                </div>
                            </div>
                            <div class="flex flex-col gap-4" data-aos="zoom-in" data-aos-delay="500">
                                <div>
                                    <img src="../../../assets/magazine.jpg" class="w-full h-[250px] object-cover rounded-lg shadow-md" alt="magazine content writing">
                                </div>
                                <div class="flex flex-col gap-1">
                                    <span class="text-gray-600 text-xs md:text-sm">Content Writing</span>
                                    <span class="font-bold text-sm md:text-base">Magazine Content Writing</span>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <!-- See All Works Section -->
                    <div class="flex justify-center items-center mt-6" data-aos="fade-up" data-aos-delay="600">
                        <span class="text-blue-700 text-sm md:text-base font-bold hover:underline cursor-pointer">
                            See all works <i class="fa-solid fa-arrow-right-long text-blue-700"></i>
                        </span>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="testimonel" class="bg-blue-700 py-6">
            <div class="container mx-auto px-6">
                <div class="flex flex-col justify-center items-center gap-8">
                    <!-- Testimonel Title -->
                    <div data-aos="fade-up" data-aos-duration="1000">
                        <span class="text-blue-300 text-xs md:text-sm">TESTIMONIAL</span>
                    </div>
                    
                    <!-- Testimonial Text -->
                    <div class="flex flex-col justify-center items-center text-center px-4" data-aos="fade-up" data-aos-duration="1500">
                        <span class="text-white font-bold text-base md:text-lg">
                            "Simply the best. Better than all the rest. I'd
                        </span>
                        <span class="text-white font-bold text-base md:text-lg">recommend this product to beginners and</span>
                        <span class="text-white font-bold text-base md:text-lg">advanced users."
                        </span>
                    </div>
                    
                    <!-- Testimonial Image -->
                    <div data-aos="zoom-in" data-aos-duration="1000">
                        <img src="../../../assets/test.jpg" class="rounded-full w-[60px] h-[60px] md:w-[80px] md:h-[80px] object-cover" alt="testlogo">
                    </div>
                    
                    <!-- Testimonial Author -->
                    <div class="flex flex-col gap-1 justify-center items-center" data-aos="fade-up" data-aos-duration="2000">
                        <span class="font-bold text-white text-sm md:text-base">Ian Klein</span>
                        <span class="text-gray-300 text-xs md:text-sm">Digital Marketer</span>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="address" class="bg-gray-950">
            <div class="container mx-auto px-6 py-6">
                <div class="flex flex-col justify-center items-center gap-8">
                    <!-- Call to Action -->
                    <div class="flex flex-col md:flex-row md:justify-between gap-8 md:gap-6 w-full" data-aos="fade-up" data-aos-duration="1000">
                        <div class="flex flex-col gap-3 w-full md:w-1/2">
                            <span class="text-white text-[14px] font-bold">Ready to launch your next project?</span>
                            <p class="text-gray-500 text-[13px]">With lots of unique blocks, you can easily build a page without <br> coding. Build your next landing page.</p>
                        </div>
                        <div class="flex justify-center items-center w-full md:w-1/2">
                            <button type="button" class="p-2 rounded bg-blue-700 text-white" data-aos="zoom-in" data-aos-duration="1500">Get Started a Project</button>
                        </div>
                    </div>
        
                    <!-- Footer Links -->
                    <div class="flex flex-col md:flex-row gap-8 md:gap-24 mt-8" data-aos="fade-up" data-aos-duration="2000">
                        <!-- Company Info -->
                        <div class="flex flex-col gap-3 w-full md:w-1/4">
                            <span class="font-bold text-white">Brainwave.io</span>
                            <p class="text-gray-500 text-[13px]">With lots of unique blocks, you can easily build a page without <br> coding. Build your next landing page.</p>
                            <div class="flex gap-4">
                                <span><i class="fa-brands fa-twitter text-green-500"></i></span>
                                <span><i class="fa-brands fa-facebook text-gray-500"></i></span>
                                <span><i class="fa-brands fa-instagram text-gray-500"></i></span>
                                <span><i class="fa-brands fa-linkedin text-gray-500"></i></span>
                            </div>
                        </div>
        
                        <!-- Company Links -->
                        <div class="flex flex-col gap-3 w-full md:w-1/4">
                            <span class="text-gray-700">Company</span>
                            <div class="flex flex-col gap-2">
                                <span class="font-medium text-white text-[14px]">About Us</span>
                                <span class="font-medium text-white text-[14px]">Contact Us</span>
                                <span class="font-medium text-white text-[14px]">Careers</span>
                                <span class="font-medium text-white text-[14px]">Press</span>
                            </div>
                        </div>
        
                        <!-- Product Links -->
                        <div class="flex flex-col gap-3 w-full md:w-1/4">
                            <span class="text-gray-700">Product</span>
                            <div class="flex flex-col gap-2">
                                <span class="font-medium text-white text-[14px]">Features</span>
                                <span class="font-medium text-white text-[14px]">Pricing</span>
                                <span class="font-medium text-white text-[14px]">News</span>
                                <span class="font-medium text-white text-[14px]">Help desk</span>
                                <span class="font-medium text-white text-[14px]">Support</span>
                            </div>
                        </div>
        
                        <!-- Services Links -->
                        <div class="flex flex-col gap-3 w-full md:w-1/4">
                            <span class="text-gray-700">Services</span>
                            <div class="flex flex-col gap-2">
                                <span class="font-medium text-white text-[14px]">Digital Marketing</span>
                                <span class="font-medium text-white text-[14px]">Content Writing</span>
                                <span class="font-medium text-white text-[14px]">SEO for Business</span>
                                <span class="font-medium text-white text-[14px]">UI Design</span>
                            </div>
                        </div>
        
                        <!-- Legal Links -->
                        <div class="flex flex-col gap-3 w-full md:w-1/4">
                            <span class="text-gray-700">Legal</span>
                            <div class="flex flex-col gap-2">
                                <span class="font-medium text-white text-[14px]">Privacy Policy</span>
                                <span class="font-medium text-white text-[14px]">Terms & Conditions</span>
                                <span class="font-medium text-white text-[14px]">Return Policy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         
    </div> 
</main>